<h1>Just like Uber - but for models</h1>
<h1>Enter your message</h1>
<h1>Get a hi-res photo</h1>
<%= render 'form' %>

Think of a message. Complete the order form.Our model will make a photo for you.You will receive a shareable link to your tittygram.
<br/>
<%= link_to "Back", root_path, class: "btn btn-default" %>
