<h1>Just like Uber - but for models</h1>
<h1>Enter your message</h1>
<h1>Get a hi-res photo</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div role="tabpanel">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic</a></li>
		    <li role="presentation"><a href="#business" aria-controls="business" role="tab" data-toggle="tab">Business</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="basic"><%= render 'form' %></div>
		    <div role="tabpanel" class="tab-pane" id="business">second form</div>
		  </div>

		</div>
	</div>	
</div>
Think of a message. Complete the order form.Our model will make a photo for you.You will receive a shareable link to your tittygram.
<br/>
